<h1>Dice.com Job Scraper Results</h1>

<table>

  <tr>
    <th>Job Title</th>
    <th>Company</th>
    <th>Link</th>
    <th>Location</th>
    <th>Date Posted</th>
    <th>Company ID</th>
    <th>Job ID</th>
  </tr>

  <% results.each do |result| %>
    <tr>

      <% result.each do |key, value| %>

        <% if key == :link %>
          <td><a href=<%= value %> >Link</a></td>

        <% else %>
          <td><%= value %></td>
        <% end %>

      <% end %>

    </tr>
  <% end %>

</table>